
    input{
        margin-bottom: 18px;
    }
    div > h2{
        background-color: rgb(25, 99, 50);
        border: yellow;
        border-style: solid;
        color: white;
        text-align: center;
    }

    fieldset{
        background-color: rgba(220, 217, 250, 0.986);
        text-align: center;
        
    }
    #btConfirma{
        background-color: green;
        width: 100px;
        height: 50px;
        border-style: outset;
        border-color: green;

    }
    #btCancelar{
        background-color: red;
        width: 100px;
        height: 50px;
        border-style: outset;
        border-color: red;

    }
    #btBranco{
        background-color: white;
        width: 100px;
        height: 50px;
        border-style: outset;
        border-color: white;

    }

